#welcome{
    text-align: center;
    margin: auto;
    max-width: 800px;
}

@media(max-width:800px){
    #welcome{
        max-width: 90%;
    }
}

#suggestions a{
    padding: 0 1rem;
    display: inline-block;
}