<nav 
  class="navbar navbar-expand-lg navbar-light bg-light mb-4"
  *ngIf="this.service.isAuthenticated() && this.getUserData()"
> 
  <a class="navbar-brand" routerLink="">{{user?.role}}-portal</a>
  <button 
    class="navbar-toggler" 
    type="button" data-toggle="collapse" 
    data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" 
    aria-expanded="false" 
    aria-label="Toggle navigation"
  > <span class="navbar-toggler-icon"></span> </button>

  <div 
    class="collapse navbar-collapse" 
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto" *ngIf="user?.role=='user'">
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="user/ipos">
          IPOs
        </a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="user/searchCompany">
          Search Company
        </a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="user/company">
          Compare Company
        </a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto" *ngIf="user?.role=='admin'">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="admin/excel">
          Import Excel Data
        </a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/company">
          Manage Companies
        </a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="admin/ipos">
          Update IPO Details
        </a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="admin/missingSP">
          Missing Stock-Price Dates
        </a>
      </li>
      <!-- <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="admin/accounts">
          Manage Accounts
        </a>
      </li> -->
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="profile">
          <i class="fa fa-user" aria-hidden="true"></i>
          {{user?.username}}
        </a>
      </li>
      <li class="nav-item">
        <a 
          href="javascript:void(0)" 
          class="nav-link" 
          (click)="logout()"
        >
          <i class="fas fa-sign-out-alt"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>