<app-back-button [backLink]="''"></app-back-button>

<div class="row mb-4" *ngIf="!this.newCompany.formVisible">
    <div class="col-md-6 mx-auto">
        <button 
            class="btn btn-primary btn-block" 
            (click)="this.adding = true && this.newCompany.formVisible = true"
        ><i class="fas fa-plus-circle"></i> add new company</button>
    </div>
</div>
<div class="row mb-4" *ngIf="this.newCompany.formVisible" id="companyForm">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center pb-4 pt-3" *ngIf="adding"> Add Company </h2>
                <h2 class="text-center pb-4 pt-3" *ngIf="!adding"> Update Company </h2>
                <hr>
                <form #companyForm = "ngForm">
                    <div class="form-group">
                        <label>Company Code*</label>
                        <input 
                        type="text" 
                        [(ngModel)]="newCompany.companyCode"
                        #companyCode = "ngModel"
                        (keyup)="this.isCodeTaken()"
                        [ngClass]="{
                            'is-invalid': 
                                (companyCode.errors || this.iscodetaken) && 
                                companyCode.touched,
                            'is-valid': 
                                !(companyCode.errors || this.iscodetaken) && 
                                companyCode.touched
                        }"
                        class="form-control"
                        placeholder="Company Code" 
                        name="companyCode"
                        required
                        autofocus
                        [disabled] = "!adding"
                        >
                        <div 
                            [hidden]="!companyCode.errors?.required" 
                            class="invalid-feedback"
                            > Company Code is required 
                        </div>
                        <div 
                        [hidden]="!this.iscodetaken" 
                        class="invalid-feedback"
                        > Company Code already in use </div>
                    </div>

                    <div class="form-group">
                        <label>Company Name*</label>
                        <input 
                            type="text" 
                            [(ngModel)]="newCompany.companyName"
                            #companyName = "ngModel"
                            [ngClass]="{
                                'is-invalid': 
                                    companyName.errors && 
                                    companyName.touched
                            }"
                            class="form-control"
                            placeholder="Company Name" 
                            name="companyName"
                            required
                        >
                        <div 
                            [hidden]="!companyName.errors?.required" 
                            class="invalid-feedback"
                            > Company Name is required 
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Turnover</label>
                        <input 
                        type="number" 
                        [(ngModel)]="newCompany.turnover"
                        #turnover = "ngModel"
                        [ngClass]="{
                            'is-invalid': 
                                turnover.errors && 
                                turnover.touched
                        }"
                        class="form-control"
                        name="turnover"
                        >
                    </div>

                    <div class="form-group">
                        <label>CEO</label>
                        <input 
                        type="text" 
                        [(ngModel)]="newCompany.ceo"
                        #ceo = "ngModel"
                        class="form-control"
                        name="ceo"
                        >
                    </div>

                    <div class="form-group">
                        <label>Board of Directors</label>
                        <input 
                        type="text" 
                        [(ngModel)]="newCompany.boardOfDirectors"
                        #boardOfDirectors = "ngModel"
                        class="form-control"
                        name="boardOfDirectors"
                        >
                    </div>

                    <div class="form-group">
                        <label>Stock Echanges - seperated by a comma followed by a space (", ")</label>
                        <input 
                        type="text" 
                        [(ngModel)]="newCompany.stockExchanges"
                        #stockExchanges = "ngModel"
                        class="form-control"
                        name="stockExchanges"
                        >
                    </div>

                    <div class="form-group">
                        <label>Sector</label>
                        <input 
                        type="text" 
                        [(ngModel)]="newCompany.sector"
                        #sector = "ngModel"
                        class="form-control"
                        name="sector"
                        >
                    </div>

                    <div class="form-group">
                        <label>Brief</label>
                        <textarea
                        class="form-control"
                        [(ngModel)]="newCompany.brief"
                        #brief = "ngModel"
                        name="brief"
                        rows="2"
                        >
                        </textarea>
                    </div>

                    <div class="custom-control custom-switch mb-4">
                        <input 
                            type="checkbox" 
                            [(ngModel)]="newCompany.isActive"
                            #isActive = "ngModel"
                            class="custom-control-input" 
                            name="isActive"
                            id = "isActive"
                        > <label class="custom-control-label" for="isActive">Active on create</label>
                    </div>

                    <button 
                        *ngIf="adding"
                        class="btn btn-primary" 
                        [disabled]="!companyForm.form.valid"
                        (click)="addCompany(this.newCompany)"
                    > Add </button>
                    <button 
                        *ngIf="!adding"
                        class="btn btn-warning" 
                        [disabled]="!companyForm.form.valid"
                        (click)="updateCompany(this.newCompany)"
                    > Update </button>
                    <button class="btn" (click)="resetAddForm()"> Cancel </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th scope="col">Company Code</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Turnover</th>
                    <th scope="col">CEO</th>
                    <th scope="col">Directors</th>
                    <th scope="col">Stock Exchange</th>
                    <th scope="col">Sector</th>
                    <th scope="col">Brief</th>
                    <th scope="col">Active</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            
            <h6 class="text-center mt-4" *ngIf="!companies">No Content</h6>

            <tbody *ngFor="let company of companies">
                <tr>
                    <td>{{company.companyCode}}</td>
                    <td>{{company.companyName}}</td>
                    <td>{{company.turnover | currency:'INR':'symbol-narrow' }}</td>
                    <td>{{company.ceo}}</td>
                    <td>{{company.boardOfDirectors}}</td>
                    <td>{{company.stockExchanges}}</td>
                    <td>{{company.sector}}</td>
                    <td>{{company.brief}}</td>
                    <td>
                        <span class="custom-control custom-switch">
                            <input 
                                type="checkbox" 
                                class="custom-control-input" 
                                id="isActive-{{company.companyCode}}" 
                                [(ngModel)]="company.isActive"
                                (change) = "updateCompany(company)"
                            >
                            <label 
                                class="custom-control-label" 
                                for="isActive-{{company.companyCode}}"
                            ></label>
                        </span>
                    </td>
                    <td>
                        <span class="text-nowrap">
                            <button 
                                class="btn btn-outline-warning btn-sm m-1" 
                                (click)="editCompany(company)"
                            > <i class="fas fa-pen fa-fw"></i> </button>
                            <button 
                                class="btn btn-outline-danger btn-sm m-1" 
                                (click)="deleteCompany(company.companyCode)"
                            > <i class="fas fa-trash fa-fw"></i> </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

